<h1>Welcome to Mario's International Food Store!</h1>

<h2>About Us<h2>
<p>Mario is the proud child of military parents. As a young child, he and his family moved regularly to stations all over the world. While Mario never got used to switching homes so often, he certainly got used to the expectation of new foods and flavors that each new location promised. Today he stays put, managing the largest specialty food store on the west coast! Stop on by and say hello. We are eager for you to join our international family.</p>

<h2>Newly Added Products!</h2>

<h2>Highest Rated Product</h2>

<h1>Product List</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<p><%= link_to "Create new product", new_product_path %></p>